/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section-container {
  width: 80vw;
  height: 80vh;
}

html,
body {
  font-size: 62.5%;
  @include flex(center, center, column);
  width: 100%;
  height: 100%;
  background: $background-color;
  overflow: hidden;
  font-family: "Red Hat Display", sans-serif;
}

h2 {
  font-size: $header2;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-family: "Spartan", sans-serif;
}

h4 {
  font-size: $header4;
  color: white;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
}

p {
  font-size: $text;
  color: hsl(224, 23%, 55%);
  font-weight: 400;
  font-family: "Spartan", sans-serif;
}
